
# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Android
.gradle
.idea
*.iml
local.properties
.DS_Store
build/
captures/
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
.navigation/
.settings/
.project
.classpath
*.log
.venv/
